@page
@model PRN___Final_Project.Pages.CRUD.AirPlaneManager.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AirPlane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AirPlane.PlaneId" />
            <div class="form-group">
                <label asp-for="AirPlane.PlaneName" class="control-label"></label>
                <input asp-for="AirPlane.PlaneName" class="form-control" />
                <span asp-validation-for="AirPlane.PlaneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirPlane.VipSeatNumber" class="control-label"></label>
                <input asp-for="AirPlane.VipSeatNumber" class="form-control" />
                <span asp-validation-for="AirPlane.VipSeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirPlane.NormalSeatNumber" class="control-label"></label>
                <input asp-for="AirPlane.NormalSeatNumber" class="form-control" />
                <span asp-validation-for="AirPlane.NormalSeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
