@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    An email has been sent to you. Please open the email and follow the instructions in it, then
    <a href="@Model.UrlContinue">Click here to continue</a>
</p>
