@page
@model PRN___Final_Project.Pages.CRUD.LocationPages.IndexModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Locations) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
